.gotop:hover,
.btn,
.button,
button.button,
.btn[type="submit"],
.button[type="submit"],
input[type="button"],
input[type="reset"],
input[type="submit"],
.top-menu ul ul li:hover > a, .top-menu ul ul :hover > a,
.nav ul ul li:hover > a, .nav ul ul :hover > a,
.nav ul li.current-menu-item ul.sub-menu a, .nav ul li.current-menu-item ul.sub-menu a:hover, .nav ul li.current-menu-parent ul.sub-menu a:hover, .nav ul li.current-page-ancestor ul.sub-menu a, .nav ul li.current-page-ancestor ul.sub-menu a:hover,
.nav ul li.current-menu-item a, .nav ul li.current-menu-item a:hover, .nav ul li.current-menu-parent a, .nav ul li.current-menu-parent a:hover, .nav ul li.current-page-ancestor a, .nav ul li.current-page-ancestor a:hover,
.header-v4 .top-bar-left .breaking-news .breaking-news-title,
.content-wrapper .post-image a,
#breaking-news-in-pic .post-image a,
div.box-title-more .prev:hover,
div.box-title-more .nxt:hover,
div.box-title-more .more-plus:hover,
#calendar_wrap #wp-calendar #today, #calendar_wrap #wp-calendar #today,
#footer-widgets .widget.widget_tabs .tabs_nav li.active,
.widget.flexslider .flex-prev:hover,
.widget.flexslider .flex-next:hover,
#slider.flexslider .flex-prev:hover,
#slider.flexslider .flex-next:hover,
.pagenavi span.pagenavi-current,
.home-blog .flexslider .flex-prev:hover,
.home-blog .flexslider .flex-next:hover,
.article .flexslider .flex-prev:hover,
.article .flexslider .flex-next:hover,
span.bd-criteria-percentage,
div#bd-criteria-final-score,
.tagcloud a:hover,
.home-box-title div.box-title-more .prev:hover,
.home-box-title div.box-title-more .nxt:hover,
.home-box-title div.box-title-more .more-plus:hover,
.gallery-icon,
.header-v5 .breaking-news .breaking-news-title,
.post-gallery,
.gallery-caption
{
	background-color: #82a805 !important;
}
a:hover,
span.required,
.pagenavi a:hover,
span.bd-criteria-percentage,
.post-navigation a:hover,
.breadcrumbs  a,
div.toggle span,
.header-v5 nav#nav ul .current_page_item a, .header-v5 nav#nav ul .current-menu-item  a, .header-v5 nav#nav ul > .current-menu-parent a
{
	color: #82a805 !important;
}
div.box-title h2,
div.box-title-more .prev:hover,
div.box-title-more .nxt:hover,
div.box-title-more .more-plus:hover,
.widget.widget_tabs .tabs_nav li.active a,
.pagenavi span.pagenavi-current,
.pagenavi a:hover,
div.bd-review-summary,
#bd-review-header,
.post-entry blockquote,
.home-box-title h2,
.timeline-list .timeline-item .timeline-link  a,
.header-v5 nav#nav ul .current_page_item a, .header-v5 nav#nav ul .current-menu-item  a, .header-v5 nav#nav ul > .current-menu-parent a,
.header-v5 nav#nav ul ul
{
	border-color: #82a805 !important;
}